{% extends "atm_py/base.html" %}
{% block content %}
<!-- <form action="" method="POST"> -->
  <!-- {% csrf_token %} -->
  <table>
    <tr>
      <td><h2>
        Hello Mr/Ms. &nbsp; <i>{{request.user}}</i>
      </h2></td>
    </tr>
    <tr>
      <td>
        <h1>
          Welcome to <b><i>Password Changing System</i></b>
        </h1>
      </td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>

    <tr>
      <td>Current Password Verification:
        <h3>Please Enter Your Current Password</h3></td>
      <td>
        <input type="password">
      </td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>


    <tr>
      <td>New Password Details:
        <h3>Please Enter the new Password</h3></td>
      <td>
        <input type="password">
      </td>
    </tr>
    <tr>
      <td>
        <h3>Please Enter the new Password, &nbsp; Again</h3></td>
      <td>
        <input type="password">
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <center>
          <a href={% url 'welcome-atm' %}><button>Back</button></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <button>Change Password</button>
        </center>
      </td>
    </tr>
  </table>
<!-- </form> -->
{% endblock content %}