{% extends "atm_py/base.html" %}
{% block content %}
  <table id="table_dashboard">
    <tr>
      <td colspan="3"><center><h1>Automated Teller Machine</h1></center></td>
    </tr>
    <tr>
      <td><h3>Hello Mr/Ms. &nbsp; {{request.user}}</h3></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="3"><h2>What would you like to do?</h2></td>
    </tr>
    <tr>
      <td><button class="dash_btn" id="btn_balance_inquiry">Balance Inquiry</button></td>
      <td><button class="dash_btn" id="btn_withdraw_money">Withdraw Money</button></td>
      <td><button class="dash_btn" id="btn_add_balance">Add Balance</button></td>
    </tr>
    <tr>
      <td><button class="dash_btn" id="btn_chng_pwd">Change Password</button></td>
      <!-- <td><button class="dash_btn" id="btn_chng_pin">Change Pin</button></td> -->
      <td><button class="dash_btn" id="btn_trn_history">Tranc. History</button></td>
      <td colspan="3"><center>
        <a href={% url 'logout-user' %}><button class="dash_btn" id="btn_signout" style="background-color: rgba(134, 98, 19, 0.76);">Signout</button></a>
        </center>
      </td>
    </tr>
  </table>
  
    <div id="div_balance_inquiry">
        <span class="close">&times;</span>
        <center>
            <h1>Balance Inquiry</h1>
                <p>Some text in the Box..</p>
        </center>
    </div>

    <script>
        var modal = document.getElementById("div_balance_inquiry");
        var btn = document.getElementById("btn_balance_inquiry");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
          modal.style.display = "block";
        }
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
{% endblock content %}