{% extends "atm_py/base.html" %}
{% block content %}
    
    <form action="">
        <table id="table_signin">
            <tr>
                <td colspan="3">
                    <center><h1>Automated Teller Machine</h1>
                </td>
            </tr>
            <tr>
                <th colspan="3">
                    <center>
                        User ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" name="userID">
                    </center>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    <center>
                        Password: &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" name="passWord">
                    </center>
                </th>
                
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <a href={% url 'dashboard-atm' %}><input type="button" value="Login"></a>
                        <a href={% url 'welcome-atm' %}><input type="button" value="Back"></a>
                    </center>
                </td>
            </tr>
        </table>
    </form>
    </center>
{% endblock content %}