{% extends "atm_py/base.html" %}
{% block content %}
    
    <form action="">
        {% csrf_token %}
        <table id="table_signin">
            <tr>
               <td colspan="2">
                   <center>
                       <p>Forgot your Password? <br>
                        Enter your email address below 
                        <hr>
                        And we'll email the 
                       reset instructions for setting a new one. :)</p> 
                   </center>
               </td>
            </tr>
            <tr>
                <td colspan="2"><center>
                    {{form}}</center>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td colspan="2"><center><input type="submit" value="Send Email"></center></td></tr>
        </table>
    </form>
{% endblock content %}