{% extends "atm_py/base.html" %}
{% block content %}
<div class="wrapper">


    <center>
        <h1>
            <hr>
            Password Reset Link Sent
            <hr>
        </h1>
        <h3>
            We've emailed you instructions for setting your <br>
            password, if an account exists with the email you entered. <br>
            <i>You Should recieve the email shortly</i>
        </h3>
        <hr>
        <h4>
            If you dont recieve an email, please make sure <br>
            you've entered the address you registered with, <br>
            and check your spam folder.
        </h4>
        <a href="/"><button>Home</button></a>
    </center>    
</div>
{% endblock content %}