{% extends "atm_py/base.html" %}
{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <table>
    <tr>
      <td><h2>
        Hello Mr/Ms. &nbsp; <i>{{request.user}}</i>
      </h2></td>
    </tr>
    <tr>
      <td>
        <h1>
          Welcome to <b><i>Password Changing System</i></b>
        </h1>
      </td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>
{{form.id_new_password1}}
    <tr>
      <td>New Password Details:
        <h3>Please Enter the new Password</h3></td>
      <td>
        {{form.new_password1}}
      </td>
    </tr>
    <tr>
      <td>
        <h3>Please Enter the new Password, &nbsp; Again</h3></td>
      <td>
        {{form.new_password2}}
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <center>
          <a href={% url 'welcome-atm' %}><button>Back</button></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <button type="submit">Change Password</button>
        </center>
      </td>
    </tr>
  </table>
</form>
{% endblock content %}