{% extends "atm_py/base.html" %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr><td colspan="2"><center><h2>Signup Form </h2></center></td></tr>
        <tr>
            <td>{{form.username.label}}</td>
            <td>{{form.username}}</td>
        </tr>
        <tr>
            <td>{{form.email.label}}</td>
            <td>{{form.email}}</td>
        </tr>
        <tr>
            <td>{{form.password1.label}}</td>
            <td>{{form.password1}}</td>
        </tr>
        <tr>
            <td>{{form.password2.label}}</td>
            <td>{{form.password2}}</td>
        </tr>
        <tr>
            <td colspan="2">{{form.errors}}&nbsp;</td>
        </tr>
        <tr>
            <td><center><a href={% url 'welcome-atm' %}><input type="button" value="Back"></a></center></td>
            <td><center><input type="submit" name="Sign Account"></center></td>
        </tr>
    </table>
</form>
{% endblock content %}