{% extends "atm_py/base.html" %}
{% block content %}
<!-- <form action="" method="POST"> -->
  <!-- {% csrf_token %} -->
  <table>
    <tr>
      <td><h2>
        Hello Mr/Ms. &nbsp; <i>{{request.user}}</i>
      </h2></td>
    </tr>
    <tr>
      <td>
        <h1>
          Welcome to <b><i>Transaction History Section</i></b>
        </h1>
      </td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>

    <tr>
      <td><h3>Here is Your Transaction History</h3></td>
    </tr>
    
    <!-- This div would hold all the transaction history -->
    <tr>
      <td>
        <div class="dev_tranc_history">
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
          History <br>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <center>
          <a href={% url 'welcome-atm' %}><button>Back</button></a>
        </center>
      </td>
    </tr>
  </table>
<!-- </form> -->
{% endblock content %}