{% extends "atm_py/base.html" %}
{% block content %}

  <div class="wrapper">
    <table  class = "div_tranc_history wrapper">
      <tr>
        <td colspan="4">
          <h2>Hello Mr/Ms. &nbsp; <i>{{request.user}}</i></h2>
          <h1>Welcome to <b><i>Transaction History Section</i></b></h1>
          Here is Your Transaction History
        </td>
      </tr>
      <tr>
        <th style="padding: 10px;">User ID</th>
        <th style="padding: 10px;">Date & Time</th>
        <th style="padding: 10px;">Transaction</th>
        <th style="padding: 10px;">Updated Balance</th>
      </tr>
      {% for i in history_td  %}
      <tr>
        <td style="padding: 10px; ">{{i.user_id}}</td>
        <td style="padding: 10px; ">{{i.dateTime_field}}</td>
        <td style="padding: 10px; border: 1px solid rgb(0, 0, 0)">{{i.withdrawl_amount}}</td>
        <td style="padding: 10px; border: 1px solid rgb(0, 0, 0)">{{i.remaining_amount}}</td>
      </tr>
      {% endfor %}
      
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4">
          <center>
            <a href={% url 'welcome-atm' %}><button>Back</button></a>
          </center>
        </td>
      </tr>
    </table>
  </div>
{% endblock content %}