{% extends "atm_py/base.html" %}
{% block content %}
<table id="table_welcome">
    <tr>
        <td colspan="2"><center><h1>Automated Teller Machine</h1></center></td>
    </tr>
    <tr>
        <td colspan="2">
            <center>
                <h3>Main Menu</h3>
            </center>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <center>
                <a href={% url 'login-atm' %}><button>Signin</button></a> &nbsp;
                <a href={% url 'signup-atm' %}><button>Signup</button></a> &nbsp;
            </center>
        </td>
    </tr>
    <tr>
        {% for message in messages %}
        <tr><td><center>{{message}}</center></td></tr>
        {% endfor %}
    </tr>

</table>


{% endblock content %}