{% extends "atm_py/base.html" %}
{% block content %}
<!-- <form action="" method="POST"> -->
  <!-- {% csrf_token %} -->
  <table>
    <tr>
      <td><h2>
        Hello Mr/Ms. &nbsp; {{request.user}}
      </h2></td>
    </tr>
    <tr>
      <td>
        <h1>
          Welcome to <b><i>Money Withdrawal System</i></b>
        </h1>
      </td>
    </tr>
    <tr>
      <td><h3>How much money would like to withdraw?</h3></td>
      <td>
        <input type="text" placeholder="In Rupees">
      </td>
    </tr>
    <tr>
      
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <center>
          <a href={% url 'welcome-atm' %}><button>Back</button></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <button>Withdraw Money</button>

        </center>
      </td>
    </tr>
  </table>
<!-- </form> -->
{% endblock content %}