{% extends "atm_py/base.html" %}
{% block content %}

  <table>
    <tr>
      <td><h2>
        Hello Mr/Ms. &nbsp; {{request.user}}
      </h2></td>
    </tr>
    <tr>
      <td>
        <h1>
          Welcome to <b><i>Money Withdrawal System</i></b>
        </h1>
      </td>
    </tr>
    <tr>
      <td><h3>How much money would like to withdraw?</h3></td>
      <td>
        <form action="" method="POST">
          {% csrf_token %}
        {{form.amount}}
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <center>
          <input type="submit" value="Withdraw Money"> 
        </form>
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <a href={% url 'dashboard-atm' %}><button>Back</button></a>
        </center>
      </td>
    </tr>
  </table>


{% endblock content %}