body{
  background-color: rgb(2, 34, 92);

    /* background-color: rgb(209, 28, 4); */
    color: azure;
}

table{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* border-color: rgb(146, 101, 43);
  border-width: 4px; */
}

table tr td {
  word-wrap: break-word;
}

.dash_btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
}

input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  padding: 7px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  box-sizing: border-box;
}
input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  padding: 7px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
  border: 3px solid #555;
  color: azure;
  background-color: rgb(19, 105, 134);
}
#forgot_pwd_txt{
  background-color: #8aa78b;
  color: rgb(2, 34, 92);
}

input[type="button"], input[type="submit"] , button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


input[type="button"]:hover,input[type="submit"]:hover, button:hover,  .dash_btn:hover {
    background-color: #8aa78b; /* Green */
    color: rgb(0, 38, 87);
  }

.div_tranc_history{
  font-family: 'Courier New', Courier, monospace; 
  color:  rgb(255, 255, 255);
  font-weight: bold;
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;
  height: 550px;
  width: 70%;

}
.signup_table{
  width: 450px;
}
.wrapper{
  overflow: auto;
  position: sticky;
  height: 370px;
  background-color: rgba(133, 133, 185, 0.356);
  width: 600px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}



